
.layout {
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to bottom, #6E6EFF 0%, #FDFDFD 70%); */
    gap: 25px;
    margin-top: 95px;
    margin-left: 2px;
    margin-right: 2px;     
}
